p{
    color:#A52A2A
}
h1,h3,h4,p{
    text-align: center;
}
p{
    color: red;
    line-height: 30px;
}
h1{
    text-decoration: underline;
}
h3{
    color:black;
}
a{
    color: rgb(0, 128, 0);
    text-decoration: none;
}
button{
    background-color: white;
    color:blueviolet;
}